<header>
  <h1>
    {{origami.title}}
    {{#if origami.slogan}}
      <br>
      <small>{{origami.slogan}}</small>
    {{/if}}

    {{#unless hasBlock}}
      <div>
        {{#paper-button class='origami-big-btn' primary=true raised=true onClick=(action 'transitionTo' nextNavigation.route)}}
          Get Started
        {{/paper-button}}
      </div>
    {{/unless}}
  </h1>

  {{#if hasBlock}}
    <div class='scroll-indicator layout-row layout-align-center-center'>
      <div>
        {{paper-icon 'arrow-downward' size=48}}
      </div>
    </div>
  {{/if}}
</header>

{{#origami-page noTitle=true hidePageNavigation=true}}
  {{yield}}
{{/origami-page}}