{{#origami-page}}
  Paper Origami is a project that helps you create simple websites, mainly geared towards
  Ember Addon documentation or demo websites. Although the design has been focused for that
  use-case, it can be used for whatever you imagine.

  <h3>Installing</h3>

  <p>
    Make sure you've first setup your own Ember CLI project, either an application or an addon,
    both are supported by paper-origami. Once you've created and entered your project directory
    you can run the following command to install this addon:
  </p>

  <p>
    <code>ember install paper-origami</code>
  </p>
{{/origami-page}}